# ROS 2 / colcon
build/
install/
log/
.colcon/
**/COLCON_IGNORE
bags/

# Python / C++
__pycache__/
*.pyc
*.pyo
*.so
*.o
*.obj

# VSCode / JetBrains
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Did I use AI to help write this file?
.claude/